@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Black.ttf) format('ttf');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.woff2) format('woff2'),
    url(../fonts/Lato-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.woff2) format('woff2'),
    url(../fonts/Lato-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Light.woff2) format('woff2'),
    url(../fonts/Lato-Light.woff) format('woff');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Italic.woff2) format('woff2'),
    url(../fonts/Lato-Italic.woff) format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* re-assign bulma variables before import! */
/* theme colors */
$black: hsl(0, 0%, 4%); /* default */
$black-bis: hsl(0, 0%, 7%); /* default */
$black-ter: hsl(0, 0%, 14%); /* default */
$grey-darker: hsl(0, 0%, 21%); /* default */
$dark-blue-1: #2a3985;
$dark-blue-2: #0a1971;
$primary: $dark-blue-2;
$info: $dark-blue-1;
$warning: #ffcc00;
$danger: #f2323f;
$success: hsl(141, 71%, 48%);
$light: rgb(245, 245, 245);
$light-2: #d2d2d2;
$footer-background-color: $primary;
$footer-color: white;
$input-hover-border-color: $info;
$input-focus-border-color: $info;
$input-focus-box-shadow-color: rgba($info, 0.3);

/* theme fonts */
$family-sans-serif: Lato, sans-serif;

/* theme other settings */
$size-1: 2.1875rem;
$size-2: 1.375rem;
$size-3: 1.25rem;
$size-4: 1.0625rem;
$size-5: 0.9375rem;
$size-6: 0.75rem;
$size-7: 0.635rem;
$input-focus-box-shadow-size: 0 0 0 0.14em;
$radius: 30px;
$radius-small: 10px;
$body-line-height: 1.2;
$button-padding-horizontal: 1.62em;
$gap: 64px;

/* non-bulma variables */
$transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
$transition-quick: 0.2s linear;
$text-shadow-menu: 2px 2px 6px rgba($primary, 0.7),
  -2px -2px 6px rgba($primary, 0.7);

/* re-assign bulma variables before import! */
/* importing bulma */
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/bulma.sass';

/* import slim-select */
//@import './slimselect.css';

/* adjusting font-size for rem */

html {
  font-size: 16px;
  overflow-x: initial !important;
  overflow-y: initial !important;
}

.modal {
  &-backdrop {
    transition: visibility $transition-quick, opacity $transition-quick;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($info, 0.7);
    z-index: 50;
  }
  &-window {
    transition: visibility $transition, opacity $transition;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
    top: 30vh;
    left: calc(50% - 15rem);
    width: 30rem;
    background: white;
    box-shadow: 0 0 10px darken($info, 20%);
    z-index: 100;
    border-radius: $radius;
    @media screen and (max-width: 559px) {
      top: 5vh;
      left: calc(50% - 8rem);
      width: 16rem;
    }
  }
  &-exit {
    cursor: pointer;
    align-self: flex-end;
    font-size: 2rem;
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

.top {
  @media screen and (max-width: 1023px) {
    height: 4.75rem;
  }
  height: 5.25rem;
}

#snowfall {
  position: absolute;
  top: 0;
  width: 100%;
  height: 596px;
  pointer-events: none;
}

.hero-title {
  @extend .is-size-2;
  @extend .is-size-1-desktop;
  @extend .has-text-white;
  @extend .px-5;
  font-weight: bold;
  line-height: 2.625rem;
  margin-top: 6.05rem;
  @media screen and (max-width: 1023px) {
    margin-top: 4.7rem;
    line-height: 1.6rem;
  }
}

.hero-button {
  @extend .button;
  @extend .is-warning;
  @extend .is-size-5;
  @extend .is-size-2-desktop;
  @extend .is-uppercase;
  margin-top: 3.05rem;
  height: 3.74rem;
  @media screen and (max-width: 1023px) {
    margin-top: 5.7rem;
    padding: 0rem 1.8rem;
    height: 2.6rem;
  }
}

.hero-bg-desktop {
  height: 596px;
  @media screen and (max-width: 369px) {
    height: 512px;
    background: url(../images/bg-hero-top-xs.svg), url(../images/bg-hero.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    background-position: top center, bottom left -61px;
  }
  background: url(../images/bg-hero-top.svg), url(../images/bg-hero.svg);
  background-repeat: repeat-x, no-repeat;
  background-size: auto, cover;
  background-position: top left, bottom left;
}
/* */
.cards-bg-desktop {
  background-image: linear-gradient(
    to bottom,
    rgb(252, 252, 252) 5%,
    $light 50%
  );
  background-size: cover;
  padding-bottom: 8rem;
  @media screen and (max-width: 768px) {
    padding-bottom: 2.2rem;
  }
}

.callback-bg-desktop {
  height: 711px;
  background: url(../images/bg-callback-bottom.svg),
    url(../images/bg-callback-top.svg), linear-gradient($light, $light);
  background-repeat: repeat-x, no-repeat, repeat;
  background-size: auto, cover, cover;
  background-position: bottom left, top left, top left;
  @media screen and (max-width: 400px) {
    height: 760px;
    background: url(../images/bg-callback-bottom.svg),
      url(../images/bg-callback-top-xs.svg), linear-gradient($light, $light);
    background-repeat: repeat-x, no-repeat, repeat;
    background-size: 1300px 40px, cover, cover;
    background-position: bottom left, top left, top left;
  }
  @media screen and (min-width: 401px) and (max-width: 768px) {
    height: 711px;
    background: url(../images/bg-callback-bottom.svg),
      url(../images/bg-callback-top.svg), linear-gradient($light, $light);
    background-repeat: repeat-x, no-repeat, repeat;
    background-size: auto, cover, cover;
    background-position: bottom left, top right -90px;
  }
}

.bg-santa {
  &::before {
    position: absolute;
    content: '';
    background: url(../images/santa.svg) no-repeat;
    right: 22.5625rem;
    top: 12.05rem;
    width: 17.6875rem;
    height: 17.4375rem;
    @media screen and (max-width: 768px) {
      position: absolute;
      content: '';
      background: url(../images/candycane1.svg) no-repeat;
      background-size: cover;
      right: -1.9rem;
      top: -3.2rem;
      width: 5rem;
      height: 7rem;
      z-index: 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1330px) {
      position: absolute;
      content: '';
      background: url(../images/santa.svg) no-repeat;
      background-size: contain;
      right: 32vw;
      top: 12.05rem;
      width: 15vw;
      height: 15vw;
    }
  }
}
.bg-cane-1 {
  &::before {
    @media screen and (max-width: 768px) {
      position: absolute;
      content: '';
      background: url(../images/candycane2.svg) no-repeat;
      background-size: cover;
      left: -4rem;
      top: -2.55rem;
      width: 5rem;
      height: 7rem;
      z-index: 0;
    }
  }
  &::after {
    position: absolute;
    content: '';
    background: url(../images/candycane1.svg) no-repeat;
    right: -10.25rem;
    top: -2rem;
    width: 8rem;
    height: 10rem;
    @media screen and (max-width: 768px) {
      position: absolute;
      content: '';
      background: url(../images/candycane1.svg) no-repeat;
      background-size: cover;
      right: -1.9rem;
      top: 18.2rem;
      width: 5rem;
      height: 7rem;
      z-index: 0;
    }
  }
}
.bg-cane-2 {
  &::before {
    position: absolute;
    content: '';
    background: url(../images/candycane2.svg) no-repeat;
    left: -8.8rem;
    top: 30.4rem;
    width: 8rem;
    height: 10rem;
    @media screen and (max-width: 768px) {
      position: absolute;
      content: '';
      background: url(../images/candycane2.svg) no-repeat;
      background-size: cover;
      left: -4rem;
      top: 18.9rem;
      width: 5rem;
      height: 7rem;
      z-index: 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1023px) {
      top: 14rem;
      left: -8.8rem;
    }
  }
}

.bg-reindeer {
  &::after {
    position: absolute;
    content: '';
    background: url(../images/reindeer.svg) no-repeat;
    right: -18.1rem;
    top: -2.7rem;
    width: 15.6575rem;
    height: 16.205rem;
    @media screen and (max-width: 768px) {
      position: absolute;
      content: '';
      background: url(../images/candycane1.svg) no-repeat;
      background-size: cover;
      right: -1.9rem;
      top: -1.2rem;
      width: 5rem;
      height: 7rem;
      z-index: 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1330px) {
      position: absolute;
      content: '';
      background: url(../images/reindeer.svg) no-repeat;
      background-size: contain;
      left: 36vw;
      top: -2.7rem;
      width: 15vw;
      height: 15vw;
    }
  }
}

.callback {
  margin: 0 auto;
  margin-top: 8.4rem;
  @media screen and (max-width: 768px) {
    margin-top: 5.7rem;
    & .column {
      padding-left: 0.65rem;
      padding-right: 0.65rem;
      padding-top: 0.46rem;
      padding-bottom: 0rem;
    }
    & .column:nth-child(1) {
      padding-right: 0;
      padding-left: 0;
      padding-top: 0.7rem;
      padding-bottom: 0.65rem;
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
  @media screen and (min-width: 769px) {
    width: 44.5rem;
    & .column {
      padding-left: 0.85rem;
      padding-right: 1.15rem;
      padding-top: 0;
    }
    & .column:nth-child(3),
    & .column:nth-child(5) {
      padding-right: 0.25rem;
      padding-left: 1.75rem;
    }
    & .column:nth-child(2),
    & .column:nth-child(3) {
      padding-top: 0.75rem;
      padding-bottom: 0.52rem;
    }
  }

  &__title {
    font-size: $size-1;
    line-height: 2.625rem;
    font-weight: bold;
    color: white;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: $size-2;
      line-height: 1.6rem;
    }
  }
  &__submit {
    @extend .button;
    @extend .is-warning;
    font-size: $size-4;
    margin-top: 0.9rem;
    height: 2.6rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    @media screen and (max-width: 768px) {
      font-size: $size-5;
      height: 2rem;
      margin-top: 0.7rem;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
  &__check {
    color: $primary;
    margin-top: 0.7rem;
    padding-left: 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    @media screen and (max-width: 768px) {
      margin-top: 1.1rem;
    }

    & .checkbox__input {
      display: block;
      position: relative;
      input {
        opacity: 0;
        width: 1em;
        height: 1em;
        &:focus + .checkbox__control {
          box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }
        &:checked + .checkbox__control svg {
          transform: scale(1);
        }
        &:disabled + .checkbox__control {
          color: grey;
        }
      }
    }

    & .checkbox__control {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      border-radius: 0;
      border: 0.1em solid currentColor;
      background-color: white;
      svg {
        transition: transform $transition-quick;
        transform: scale(0);
        transform-origin: center;
        margin-bottom: 0.2em;
      }
    }

    & .checkbox__label {
      margin-left: 0.7rem;
      color: white;
      font-size: $size-5;
      white-space: nowrap;
      & a {
        text-decoration: underline;
        color: white;
        transition: color $transition-quick;
        &:hover {
          color: $warning;
        }
      }
      @media screen and (max-width: 768px) {
        font-size: $size-7;
      }
      @media screen and (max-width: 1023px) {
        white-space: normal;
      }
    }
  }
  &__field {
    & label {
      color: white;
      font-size: $size-2;
      margin-top: 0.25rem;
      @media screen and (max-width: 768px) {
        font-size: $size-5;
      }
    }
    & div {
      & input {
        font-size: $size-2;
        height: 2.15em;
        padding: 0.3rem 1.4rem;
        @media screen and (max-width: 768px) {
          font-size: $size-5;
          margin-top: 0.2rem;
          height: 2.4em;
          padding: 0.3rem 1.1rem;
        }
      }
      & span {
        font-size: $size-3;
        @media screen and (max-width: 768px) {
          font-size: $size-4;
        }
      }
    }
    &_double {
      & label {
        color: white;
        font-size: $size-2;
        margin-top: 0.25rem;
        @media screen and (max-width: 768px) {
          margin-top: 0.45rem; // криво под макет
          font-size: $size-5;
        }
      }
      & div {
        display: inline-block;
        width: 7.6rem;
        &:last-child {
          padding-left: 0.75rem;
          width: 8.3rem;
        }
        @media screen and (max-width: 768px) {
          width: 48%;
          &:last-child {
            padding-top: 0.25rem;
            padding-left: 0;
            float: right;
            width: 48%;
            & span {
              margin-top: 0rem;
            }
          }
        }
        & input {
          font-size: $size-2;
          height: 2.15em;
          width: 100%;
          margin-top: -0.3rem;
          padding: 0.3rem 1.4rem !important;
          @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 0rem;
            font-size: $size-5;
            height: 2.4em;
            padding: 0.3rem 1.1rem;
          }
        }
        & span {
          font-size: $size-3;
          margin-top: -0.35rem;
          //padding-bottom: 0.6rem;
          @media screen and (max-width: 768px) {
            font-size: $size-4;
            margin-top: -0.25rem;
          }
        }
      }
    }
  }
}

.cards-container {
  @media screen and (max-width: 1023px) {
    margin-top: 0.85rem;
  }
  margin-top: 1.2rem;
}
.card-container {
  position: relative;
  @media screen and (max-width: 1023px) {
    padding: 0.95rem 0;
  }
  padding-bottom: 0.55rem;
}

.card {
  position: relative;
  border-radius: $radius;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: visible;
  transition: box-shadow $transition-quick;
  background-color: white;
  &:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 1023px) {
    width: 16.1875rem;
    height: 27.28rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  width: 25.25rem;
  height: 42.5rem;

  &_left {
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
    margin-left: auto;
    margin-right: 0.5rem;
  }
  &_right {
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
    margin-right: auto;
    margin-left: 0.5rem;
  }
  &__head {
    position: relative;
    z-index: 1;
    height: 14.75rem;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    @media screen and (max-width: 1023px) {
      height: 9.8rem;
    }
    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      background-color: $info;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      @media screen and (max-width: 1023px) {
        width: 16.1875rem;
        height: 1.075rem;
      }
      width: 25.25rem;
      height: 1.6875rem;
    }
  }
  &__body {
    position: relative;

    height: 11.125rem;
    width: 100%;
    margin: 0;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: white;
    @media screen and (max-width: 1023px) {
      height: 6.75rem;
      padding-top: 0rem;
      padding-left: 1.35rem;
      padding-right: 1rem;
      padding-bottom: 0.38rem;
    }
  }
  &__footer {
    position: relative;
    z-index: 1;
    height: 16.625rem;
    width: 100%;
    margin: 0;
    border-top: 1px solid $light-2;
    border-left: 2.25rem solid white;
    border-right: 2.25rem solid white;
    padding-top: 0.7rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background-color: white;
    @media screen and (max-width: 1023px) {
      height: 10.73rem;
      padding-top: 0.55rem;
      padding-bottom: 1rem;
      border-left: 1.35rem solid white;
      border-right: 1.35rem solid white;
    }
  }
  &__logo {
    margin-top: 3.1875rem;
    width: 4.9375rem;
    height: 4.9375rem;
    @media screen and (max-width: 1023px) {
      margin-top: 1.85rem;
      width: 2.8125rem;
      height: 2.8125rem;
    }
  }
  &__title {
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    @media screen and (max-width: 1023px) {
      font-size: $size-5;
      margin-top: 1.1rem;
    }
    font-size: $size-3;
    margin-top: 0.75rem;
    &_smaller {
      font-size: $size-4;
      line-height: $size-3;
      height: 1.5rem;
      @media screen and (max-width: 1023px) {
        font-size: $size-6;
        line-height: $size-5;
        height: 1.4rem;
        margin-bottom: -0.2rem;
      }
    }
  }
  &__subtitle {
    margin-top: 0.4rem;
    color: $danger;
    font-size: $size-5;
    font-weight: 900;
    text-transform: uppercase;
    @media screen and (max-width: 1023px) {
      font-size: $size-6;
      margin-top: 0.2rem;
      line-height: 0.75rem;
    }
  }
  &__info {
    margin-top: 0.5rem;
    color: $info;
    font-size: $size-5;
    @media screen and (max-width: 1023px) {
      font-size: $size-7;
      margin-top: 0.2rem;
    }
  }
  &__text {
    color: $info;
    font-size: $size-5;
    line-height: 1.5rem;
    &_at-bottom {
      margin-top: auto !important;
    }
    @media screen and (max-width: 1023px) {
      font-size: $size-6;
      margin-top: 0.1rem;
      line-height: 1rem;
    }
  }
  &__bold {
    color: $primary;
    font-size: $size-5;
    font-weight: 900;
    @media screen and (max-width: 1023px) {
      font-size: $size-6;
    }
  }
  &__crossed {
    position: relative;
    color: $light-2;
    font-size: $size-5;
    margin-left: 1rem;
    @media screen and (max-width: 1023px) {
      font-size: $size-6;
      margin-left: 0.2rem;
    }
    &::before {
      position: absolute;
      content: '';
      width: 3rem;
      height: 1.2rem;
      left: 1rem;
      top: 0rem;
      @media screen and (max-width: 1023px) {
        width: 2rem;
        height: 1.2rem;
        left: 1.2rem;
        top: -0.25rem;
      }
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2053%2021%22%20fill%3D%22none%22%3E%3Crect%20y%3D%2219.1862%22%20width%3D%2255.691%22%20height%3D%222.19271%22%20rx%3D%221.09636%22%20transform%3D%22rotate(-20.152%200%2019.1862)%22%20fill%3D%22%23F2323F%22%2F%3E%3C%2Fsvg%3E')
        no-repeat;
      background-size: cover;
    }
    &_30 {
      &::after {
        position: absolute;
        content: '- 30%';
        color: $danger;
        font-size: $size-4;
        font-weight: 900;
        white-space: nowrap;
        top: -1rem;
        left: 4.5rem;
        @media screen and (max-width: 1023px) {
          font-size: $size-6;
          top: -0.65rem;
          left: 3.6rem;
        }
      }
    }
    &_40 {
      &::after {
        position: absolute;
        content: '- 40%';
        color: $danger;
        font-size: $size-4;
        font-weight: 900;
        white-space: nowrap;
        top: -1rem;
        left: 4.5rem;
        @media screen and (max-width: 1023px) {
          font-size: $size-6;
          top: -0.65rem;
          left: 3.6rem;
        }
      }
    }
    &_50 {
      &::after {
        position: absolute;
        content: '- 50%';
        color: $danger;
        font-size: $size-4;
        font-weight: 900;
        white-space: nowrap;
        top: -1rem;
        left: 4.5rem;
        @media screen and (max-width: 1023px) {
          font-size: $size-6;
          top: -0.65rem;
          left: 3.6rem;
        }
      }
    }
  }
  &__price {
    color: $primary;
    font-size: $size-4;
    margin-top: 0.2rem;
    padding-left: 5.7rem;
    & .card__bold {
      font-size: $size-4;
    }
    @media screen and (max-width: 1023px) {
      font-size: $size-6;
      margin-top: 0;
      padding-left: 4.5rem;
      & .card__bold {
        font-size: $size-6;
      }
    }
  }
  &__button {
    margin: 0 auto;
    margin-top: 1.75rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    font-size: $size-4;
    @media screen and (max-width: 1023px) {
      margin-top: 1rem;
      font-size: $size-6;
      padding: 0.8rem 1.15rem !important;
      height: 2.25em;
    }
  }
  &__xs {
    margin-top: 1.85rem;
    font-size: 0.5625rem;
    color: $light-2;
    line-height: 0.7rem;
    @media screen and (max-width: 1023px) {
      margin-top: 1.15rem;
      font-size: 0.4375rem;
      line-height: 0.525rem;
      &_smaller {
        font-size: 6px;
      }
    }
  }
}

/* remove number spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

/* forms */

.fieldValid {
  background-color: lighten($success, 30%) !important;
  border-color: $success;
}

.fieldInvalid {
  background-color: lighten($warning, 30%) !important;
  border-color: $warning;
}

/* test misc */
.bgred {
  background: rgba(255, 0, 0, 0.5);
}
.bggreen {
  background: rgba(0, 128, 0, 0.5);
}
.bgblue {
  background: rgba(0, 0, 255, 0.5);
}
.bgyellow {
  background: rgba(255, 255, 0, 0.5);
}

.ss-main {
  position: relative;
  display: inline-block;
  user-select: none;
  color: $grey-darker;
  width: 100%;
}
.ss-main .ss-single-selected {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 2.9rem;
  padding: 6px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 23px;
  @media screen and (max-width: 768px) {
    border-radius: 16px;
  }
  background-color: white;
  outline: 0;
  color: rgb(194, 194, 194);
  box-sizing: border-box;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  transition: background-color $transition-quick;
  @media screen and (max-width: 768px) {
    height: 2.125rem;
  }
}
.ss-main .ss-single-selected.ss-disabled {
  background-color: #dcdee2;
  cursor: not-allowed;
}
.ss-main .ss-single-selected.ss-open-above {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ss-main .ss-single-selected.ss-open-below {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ss-main .ss-single-selected .placeholder {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  width: calc(100% - 30px);
  line-height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: $size-2;
  padding: 0.3rem 1.2rem;
  @media screen and (max-width: 768px) {
    font-size: $size-5;
    padding: 0.3rem 0.7rem;
  }
}
.ss-main .ss-single-selected .placeholder * {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
.ss-main .ss-single-selected .placeholder .ss-disabled {
  color: #dedede;
}
.ss-main .ss-single-selected .ss-deselect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin: 0 6px 0 6px;
  font-weight: bold;
}
.ss-main .ss-single-selected .ss-deselect.ss-hide {
  display: none;
}
.ss-main .ss-single-selected .ss-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin: 0 6px 0 6px;
  margin-right: 1.2rem;
}
.ss-main .ss-single-selected .ss-arrow span {
  border: solid $primary;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  transition: transform $transition-quick, margin $transition-quick;
}
.ss-main .ss-single-selected .ss-arrow span.arrow-up {
  transform: rotate(-135deg);
  margin: 3px 0 0 0;
}
.ss-main .ss-single-selected .ss-arrow span.arrow-down {
  transform: rotate(45deg);
  margin: -3px 0 0 0;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.ss-content {
  position: absolute;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  border: solid 1px #dcdee2;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  @media screen and (max-width: 768px) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  z-index: 1010;
  background-color: #fff;
  transform-origin: center top;
  transition: transform $transition, opacity $transition-quick;
  opacity: 0;
  transform: scaleY(0);
}
.ss-content.ss-open {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}
.ss-content .ss-search {
  display: flex;
  flex-direction: row;
  padding: 8px 8px 6px 8px;
}
.ss-content .ss-search.ss-hide {
  height: 0px;
  opacity: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ss-content .ss-search.ss-hide input {
  height: 0px;
  opacity: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ss-content .ss-search input {
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0px;
  height: 2.6rem;
  @media screen and (max-width: 768px) {
    height: 2rem;
  }
  padding: 0.5rem 0.8rem;
  margin: 0;
  border: 1px solid #dcdee2;
  border-radius: $radius;
  background-color: $info;
  color: white;
  outline: 0;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: textfield;
}
.ss-content .ss-search input::placeholder {
  color: $light-2;
  vertical-align: middle;
}
.ss-content .ss-search input:focus {
  box-shadow: none;
}
.ss-content .ss-search .ss-addable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 30px;
  height: 30px;
  margin: 0 0 0 8px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  box-sizing: border-box;
}
.ss-content .ss-addable {
  padding-top: 0px;
}
.ss-content .ss-list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
.ss-content .ss-list .ss-optgroup .ss-optgroup-label {
  padding: 6px 10px 6px 10px;
  font-weight: bold;
}
.ss-content .ss-list .ss-optgroup .ss-option {
  padding: 6px 6px 6px 25px;
}
.ss-content .ss-list .ss-optgroup-label-selectable {
  cursor: pointer;
}
.ss-content .ss-list .ss-optgroup-label-selectable:hover {
  color: #fff;
  background-color: #5897fb;
}
.ss-content .ss-list .ss-option {
  font-size: $size-4;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  cursor: pointer;
  user-select: none;
  @media screen and (max-width: 768px) {
    font-size: $size-5;
    padding: 0.3rem 0.7rem;
  }
}
.ss-content .ss-list .ss-option * {
  display: inline-block;
}
.ss-content .ss-list .ss-option:hover,
.ss-content .ss-list .ss-option.ss-highlighted {
  color: #fff;
  background-color: #2562b5;
  transition: background-color $transition-quick, color $transition-quick;
}
.ss-content .ss-list .ss-option.ss-disabled {
  cursor: not-allowed;
  color: #dedede;
  background-color: #fff;
}
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-option-selected {
  color: #666;
  background-color: rgba(88, 151, 251, 0.1);
}
.ss-content .ss-list .ss-option.ss-hide {
  display: none;
}
.ss-content .ss-list .ss-option .ss-search-highlight {
  background-color: #fffb8c;
}
